# Auto detect text files and perform LF normalization on checkout
* text=auto eol=lf

# Binary assets
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tflite binary
*.so binary
*.jar binary
*.aar binary
*.apk binary
*.jks binary
*.mv.db binary

# Windows scripts need CRLF
*.bat text eol=crlf
*.cmd text eol=crlf
